@charset "utf-8";
body{
	background: green;
	font-family: Aclonica;
	text-align: center;
}

div{
	font-family: Aclonica;
	margin: 8px;
	padding: 8px;
	border: 1px solid black;
		}
.full {
	flex-basis: 100%;
}
 .half {
	flex-basis: 40%
}
.fourth {
	flex-basis: 25%
}
.pageborder {
	display: flex;
	flex-wrap: wrap;
	background-color: navajowhite;
	}
.olivebox {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	background-color: darkolivegreen;
}

.navabox {
	flex-grow: 1;
	color: peru;
	background-color: antiquewhite
}